---
// Component imports and setup JavaScript go here!
import Counter from '../components/Counter.jsx'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<style>
			/* scoped CSS styles go here: */
			/* h1 { ... } */
		</style>
	</head>

	<body>
		<Counter client:visible>
            <h1>Hello React!</h1>
      	</Counter>
	</body>
</html>
